<ion-header>
  <ion-toolbar color="success">
    <ion-buttons>
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card [hasHeader]="false" [hasFooter]="false" status="hold" createdAt="23/05/2024"
    updatedAt="25/05/2024"
    notes="We have two bags that are full, one with plastic and the other one with glass"></app-pickup-call-card>
  <app-pickup-call-card [hasHeader]="false" [hasFooter]="false" status="processing" createdAt="24/05/2024"
    updatedAt="25/05/2024" notes="We have two bags that are full, one with plastic"></app-pickup-call-card>

  <app-pickup-call-card [hasHeader]="false" [hasFooter]="false" status="finished" createdAt="28/05/2024"
    updatedAt="29/05/2024" value="15,00$"></app-pickup-call-card>

</ion-content>