<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>Recilica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://avatar.iran.liara.run/public/1" alt="avatar" srcset="">
      </ion-avatar>
      <ion-label>
        <h1>Mahmoud Nehro</h1>
        <p>Gathered: <span class="money">$150.66</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card status="hold" createdAt="23/05/2024" updatedAt="25/05/2024"
    notes="We have two bags that are full, one with plastic and the other one with glass"
    [seeAllMethod]="goToPickupCalls">
  </app-pickup-call-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add" (click)="createPickupCall()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>